* {
	box-sizing: border-box;
}
body {
	background-image: url('img/fondo42.jpg');
	background-size: cover;
	background-repeat: repeat;
	overflow-x: hidden;
	background-size: 1400px;
}
#index{
	text-align: center;
	margin: 0 auto;
}
#tabla{
	text-align: center;
	margin: 0 auto;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}
th{
	border: 2px solid rgba(130,160,200,0.5);
	border-right: 0;
	width: 12%;
}
td{
	border-left: 2px ridge rgba(100,100,200,0.2);
	background: rgba(250,250,250,0.5);
}
#login{
	float: left;
	width: 30%;
	margin-left: 15%;
}
.imageClick{
	border-radius: 3%;
	float: right;
	width: 30%;
	margin-right: 15%;
}

.inputlog{
	float: left;
	width: 100%;
	font-size: 20px;
	margin: 10px 0;
}
#comprobar{
	float: right;
	height: 38px;
	width: 38px;
}
h1{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.5em;
	color: white;
}
ul{
	font-size: 0.8em;
}
ol{
	font-weight: bold;
}
h2{
	text-align: left;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 23px;
	margin-bottom: 5px;
	color: white;
}
a{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: white;
}
a:link {
	text-decoration: none;
	color: white;
}
a:visited {
	text-decoration: none;
	color: white;
}
#indeximg{
	width: 390px;
	height: 390px;
	border-radius: 50%;
	object-fit: cover;

}
a.titulo:hover{
	color: green;
}
#links{
	width: 100%;
	padding-left: 0;
}
#divlinks{
	background-color: rgba(50,50,100,0.1);
	border-radius: 10px;
	padding: 1px 0 0 0;
	margin-right: 25%;
	margin-left: 25%;
}
#enlaces{
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	float: left;
	width: 25%;
}
.botones{
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width: 100%;
	font-size: 18px;
	border-radius: 5px;	
}
.contenedor{
	/*float: left;*/
	display: inline-flex;
	position: relative;
	/*width: 75%;*/
	justify-content: space-around;
	flex-wrap: wrap;
	border-radius: 3px;
	align-content: center;
}
.imagen{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 6px 4px 5px 2px rgba(210,210,255,0.8);
}
.imagen img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
#fut{
	position: fixed;
	bottom: 0;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	color: white;
	margin-bottom: 5px;
	background-color: black;
	width: 40%;
	margin-right: 30%;
	margin-left: 30%;
	border-radius: 5px;
}
#fut a{
	color: white;
}
.overlay {
/*	font: 15px;
	color: white;
    width: 70%;
    height: 25px;*/
    position: absolute;
    bottom: 5px;
    left: 0;
/*    background: rgba(80,80,120,.8);
z-index: 2;*/
}
.id60{
	background-color: rgba(100,100,100,0.1);
	border-radius: 5px;
	text-align: left;
	float: left;
	width: 40%;
	margin-top: 10px;
}
.id30{
	text-align: left;
	float: right;
	width: 60%;
	margin-top: 10px;
}
.formulario{
	background-color: rgba(100,100,100,0.3);
	border-radius: 10px;
	margin-left: 10px;
	float: left;
	padding: 0 10px;
	width: 65%;
}
.right{
	display: inline;
	position: fixed;
	width: 30%;
	float: right;
	z-index: 1000;
	right: 0;
	top: 80px;
}
#bannerlateral{
	width: 400px;
}
#bannertext{
	font-size: 12px;
	text-align: center;
	margin: 1% 8% 1% 8%;
}
#caja{
	-webkit-box-shadow: 0px -20px 41px 30px rgba(180,188,193,0.4); 
	-webkit-border-radius: 20px 0px 20px 0px;
	-moz-border-radius: 20px 0px 20px 0px;
	border: 2px solid rgba(80,110,164,0.36);
	border-radius: 8px;
	right: 0;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
h4{
	margin-left: 10px;
	margin-bottom: 10px;
	text-align: left;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
}
label {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: 8px 5px 5px 10px;
	/*	margin-left: 20px;*/
	display: inline-block;
	/*	text-shadow: 2px 2px 2px #ccc, 1px 1px 1px #000, 2px 2px 12px rgba(255,110,68,0);*/
}
#comboCliente{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	padding-left: 20px;
	width: 150px;
	height: 40px;
	border-radius: 8px;
}
input[type=text],input[type=email],input[type=password],input[type=date], select, textarea {
	width: 100%;
	padding: 10px 0 10px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none;
}
#idemail{
	width: 85%;
}
input[type=number]{
	width: 30%;
	margin-right: 10px;
	padding: 10px 0 10px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}
input[type=radio]{
	margin: 10px 2px 0px 2px;
}
#coord{
	margin-left: 0;
	padding-left: 0;
}
#crear{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 80px;
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	padding: 8px 0 8px 0;
}
#guia{
	margin: 20px auto;
	padding: 5px;
	width: 30%;
	text-align: left;
	background-color: rgba(180,200,220,0.4);
	-webkit-box-shadow: 0px 0px 41px 30px rgba(180,188,193,0.4); 
	-webkit-border-radius: 20px 0px 20px 0px;
	-moz-border-radius: 20px 0px 20px 0px;
	border: 2px solid rgba(80,110,164,0.36);
	border-radius: 6px;
}
.div25{
	text-align: left;
	margin: 0 10px;
	position: absolute;
	bottom: 210px;	
	float: left;
	width: 15%;
	padding: 0 5px 0 5px;
}
#draggable{
	z-index: 2;
}
.droppable{
	max-height: 100px;
}
#nave{
	float: left;
	margin: 0;
	padding: 0;
	width: 20%;
}
#controlUsuario{
	float: right;
	margin: 30px 7px 7px 0;
	border-radius: 8px;
}
.titulo{
	color: white;
	margin-left: 10px;
	float: left;
	font-weight: bold;
	font-size: 20px;
}
#map{
	width: 90%;
	margin: 10px auto;
	padding: 0 5px 0 0;
	z-index: 0;
}
#indexmap{
	width: 80%;
	float: right;
	margin: 10px auto;
	padding: 0 5px 0 0;
	z-index: 0;
}
.mapid{
	border-radius: 8px;
	height: 400px;
	z-index: 0;
	box-shadow: 0 0 8px 8px black;
}
#mi_acor{
	z-index: -1;
	position: fixed;
	bottom: 0;
	width: 100%;
}
#usuario{
	display: inline-block;
}
.modificar{
	background-image: url('img/engranaje.png');
	background-size: cover;
	width: 35px;
	height: 35px;
	background-color: rgba(0,0,0,0);
	border: 0;	
}
.cargar{
	background-image: url('img/lupa.png');
	background-size: cover;
	width: 35px;
	height: 35px;
	background-color: rgba(0,0,0,0);
	border: 0;
}
.actualizar{
	background-image: url('img/diskette.png');
	background-size: cover;
	width: 35px;
	height: 35px;
	background-color: rgba(0,0,0,0);
	border: 0;
}
.verinfo{
	background-image: url('img/informe.png');
	background-size: cover;
	width: 35px;
	height: 35px;
	background-color: rgba(0,0,0,0);
	border: 0;
}
.verImagenes{
	background-image: url('img/fotos.png');
	background-size: cover;
	width: 35px;
	height: 35px;
	background-color: rgba(0,0,0,0);
	border: 0;
}
.poi{
	background-image: url('img/poi.png');
	background-size: cover;
	width: 35px;
	height: 35px;
	background-color: rgba(0,0,0,0);
	border: 0;
}
.borrar{
	background-image: url('img/poi.png');
	background-size: cover;
	width: 35px;
	height: 35px;
	background-color: rgba(0,0,0,0);
	border: 0;
}
.new{
	background-size: cover;
	width: 35px;
	height: 35px;
}
#update{
	border-radius: 5px;
}
.usuarios{
	text-align: center;
}
.usuario{
	position: fixed;
	margin: 5px;
	bottom: 0px;
	height: 200px;
	background-color: rgba(200,200,220,0.5);
	border-radius: 10px;
	overflow-y: scroll;
}
.labels{
	margin-top: 1px;
	float: left;
	width: 40%;
	display: inline-block;
}
.labels label{
	margin-top: 1px;
}
#inputs{
	float: right;
	width: 60%;
}
.buttons{
	border-radius: 7px;
	text-align: center;
}
.logout{
	font-family: "Calibri", "Lucida Grande", sans-serif;
	font-size: 17px;
	color: white;
	right: 0;
	margin: 2px 0;
	float: right;
	background-color: rgba(0,0,0,0);
	border: 0;
}
.dialogos{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 11px;
	padding-left: 20px;
}
.warning ,.error ,.success ,.todoOK {
	color: white;
}
.registro{
	color: white;
}
.alerta{
	width: 60%;
	height: 70px;
	margin: 10px auto;
	background-color: rgba(50,150,200,0.3);
	border-radius: 7px;
	box-shadow: 1px 6px 5px 4px rgba(50,170,200,0.3);
}
.alertaH{
	font-weight: bold;
}		
